body { background-color: rgb(228, 248, 196);  }

h1 { text-align: center;
font-size: 20px;
color: rgb(21, 163, 163);
border: 5px solid black; 
padding: 10px; margin: 10px;}
#logo { height: 300px;width: 300px; } 
p { text-align: center;
font-size: 16px; 
}
h2 {text-align: center; 
	font-size: 30px;
color: rgb(104, 33, 33);}



#imagemdalista {width: 3px;}
